<main id="look-for-a-jam" class="resource">
  <h1>Look for a jam</h1>
  <p>
    Search among the open slots, and once you've found an issue which inspires you, start a jam!
  </p>
  
  <%= form_with url: slots_url, model: @search, scope: :q, method: :get do |f| %>
    <fieldset>
      <%= f.label :buddy_name, "I want to pair with:" %>
      <%= f.text_field :buddy_name, autocomplete: "off" %>
    </fieldset>
    
    <fieldset>
      <%= f.label :repository_name, "I want to pair on: " %>
      <%= f.text_field :repository_name, autocomplete: "off" %>
    </fieldset>
    
    <fieldset>
      <%= f.label :relative_experience, "I want to pair with someone: " %>
      <%= f.select :relative_experience, [:less_experienced, :as_experienced, :more_experienced], include_blank: true %>
    </fieldset>
    
    <ul>
      <li>[TODO: filter by time period]</li>
    </ul>
    
    <%= link_to "Reset", url_for %>
    <%= f.submit "Search" %>
    
  <% end %>
  
  <br><br>

  <%= turbo_frame_tag "slots" do %>
    <%= render collection: @search.slots, partial: "slot_card", as: "slot" %>
  <% end %>
</main>
