<main id="open-a-slot" class="resource container">
  <h1 class="page-title">
    <span>Open a slot</span>
  </h1>

  <%= form_with model: @slot, id: "slot-form", data: { controller: "slot-wizard" } do |f| %>
    <fieldset class="slot-form-step wavy-section">
      <legend class="wavy-section-title">First, choose a GitHub repository</legend>
      <div class="slot-form-step-main">
        <div class="search-bar">
          <%= search_field_tag "repository", "", spellcheck: false, placeholder: "Search GitHub", data: {
                                                                      slot_wizard_target: "query",
                                                                      action: "keydown.enter->slot-wizard#searchRepositories:prevent"
                                                                    } %>
          <%= button_tag type: "button", class: "search", data: { action: "slot-wizard#searchRepositories" } do %>
            <span class="reverso">🔍</span>
          <% end %>
        </div>
        <%= render "available_repositories", repositories: available_repositories_for_slot(f.object), f: f %>
      </div>
    </fieldset>
  
    <fieldset id="slot-form-step2" class="slot-form-step wavy-section">
      <legend class="wavy-section-title">Then, choose an issue</legend>
      <div class="slot-form-step-main">
        <%= render "available_issues", issues: [], f: f %>
      </div>
    </fieldset>
  
    <fieldset id="slot-form-step3" class="slot-form-step wavy-section">
      <legend class="wavy-section-title">Finally, fill in the details of the slot</legend>
      <div class="slot-form-step-main">
        <%= f.label :start_at, class: "slot-form-datepicker" %>
        <%= f.datetime_local_field :start_at, class: "text-input" %>
        
        <%= f.label :end_at, class: "slot-form-datepicker" %>
        <%= f.datetime_local_field :end_at, class: "text-input" %>

        <%= f.submit class: "submit-button" %>
      </div>
    </fieldset>
  <% end %>
</main>
