<main id="open-a-slot" class="resource container">
  <h1>Open a slot</h1>

  <%= form_with model: @slot, data: { controller: "slot-wizard" } do |f| %>
    <fieldset class="slot-form-step">
      <legend>First, choose a GitHub repository</legend>
      <%= search_field_tag "repository", "", spellcheck: false, class: "form-field", data: {
                                                                  slot_wizard_target: "query",
                                                                  action: "keydown.enter->slot-wizard#searchRepositories:prevent"
                                                                } %>
      <%= button_tag "ðŸ”", type: "button", class: "button", data: { action: "slot-wizard#searchRepositories" } %>
      <%= render "available_repositories", repositories: available_repositories_for_slot(f.object), f: f %>
    </fieldset>
  
    <fieldset id="slot-slot-form-step2" class="slot-form-step">
      <legend>Then, choose an issue</legend>
      <%= render "available_issues", issues: [], f: f %>
    </fieldset>
  
    <fieldset class="slot-form-step">
      <legend>Finally, fill in the details of the slot</legend>
      <div>
        <%= f.label :start_at %>
        <%= f.datetime_local_field :start_at %>
      </div>
      
      <div>
        <%= f.label :end_at %>
        <%= f.datetime_local_field :end_at %>
      </div>
    </fieldset>
    
    <fieldset class="slot-form-step">
      <%= f.submit %>
    </fieldset>
  <% end %>
</main>
