<main id="profile" class="resource">
  <section class="content">
    <div class="image">
      <img src=<%= @user.avatar_url %> alt="avatar">
    </div>
    <div class="text">
      <p class="name"><%= @user.name.presence || @user.login.presence || @user.email.presence %></p>
      <%= form_with model: Current.user, url: profile_path, method: :put do |f| %>
        <%= f.collection_radio_buttons :experience_level, User.experience_levels, :last, :first, { checked: User.experience_levels[Current.user.experience_level] } %>
        <%= f.submit %>
      <% end %>
    </div>
    <div class="button">
      <div>
        <button class="message" type="button">My slots</button>
      </div>
    </div>
  </section>
</main>
