<!DOCTYPE html>
<html>
  <head>
    <title>Briefsly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to my_schedule_path, class: "title-logo" do %>
          <%= image_tag("title.png", size: "139x47") %>
        <% end %>
        <ul class="header-nav">
          <li>
            <%= link_to_unless_current "Open a slot", repositories_path %>
          </li>
          <li>
            <%= link_to_unless_current "Look for a jam", slots_path %>
          </li>
          <li>
            <%= link_to_unless_current "Schedule", my_schedule_path %>
          </li>
          <li>
            <%= link_to_unless_current "Profile", edit_my_profile_path %>
          </li>
          <li>
            <%= link_to "Sign out", session_path, data: { turbo_method: :delete } %>
          </li>
        </ul>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
