<!DOCTYPE html>
<html>
  <head>
    <title>Briefsly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1 class="sr-only">Briefsly</h1>
      <nav>
        <ul class="header-nav">
          <li>
            <%= link_to "Issues", repositories_url %>
          </li>
          <li>
            <%= link_to "Search", slots_url %>
          </li>
          <li>Schedule</li>
        </ul>
      </nav>
    </header>
    
    <%= yield %>
  </body>
</html>
