<!DOCTYPE html>
<html>
  <head>
    <title>Briefsly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "sessions", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <%= favicon_link_tag %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", type: "image/png" %>
  </head>

  <body id="sessions">
    <header class="welcome">
      <h1 class="sr-only">Briefsly</h1>
      <%= image_tag "title.png", size: "278x91" %>
      <%#= image_tag "logo.png", size: "210x237" %>
      <p class="tagline sr-only">Timely support for pairs!</p>
    </header>

    <%= yield %>
  </body>
</html>
